{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row" style="margin-top:30px;margin-top: 80px;">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Цена: {{ product.price }}
                    </p>
                </div>
                <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li  class="nav-item">
                            <a class="nav-link active" href="#description" role="tab" data-toggle="tab">
                                Описание
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#delivery" class="nav-link" role="tab" data-toggle="tab">
                                Контакты
                            </a>
                        </li>

                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content product-description-tabs">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            {{ product.description }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="delivery">
                            <p style="margin: 0 !important"><i class="fa fa-phone" aria-hidden="true"></i>Тел МТС +38(050)7032779</p>
                            <p style="margin: 0 !important"><i class="fa fa-phone" aria-hidden="true"></i>Тел Лугаком +38(072)1180310</p>
                        </div>

                      </div>
                </div>
                <div>
                    <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token %}
                        <script type="text/javascript">
                            // using jQuery
                            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                        </script>
                        <div class="form-group">
                             <input type="number" class="form-control" name="number" id="number">
                        </div>


                            <div class="form-group">
                                <a href="{% url 'checkout'  %}">
                                <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                                    data-product_id = "{{ product.id }}"
                                    data-name ="{{ product.name }}"
                                    data-price ="{{ product.price }}"
                                >
                                    Добавить в корзину
                                </button>
                                </a>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}