<footer class="footer" >
    <div class="container">
        <div class="row " >
            <div class="s12 m6 l3 col" style="margin-top:20px;">

                <ul class="list" style="padding-left:80px">
                    <li style="font-family: 'Shrikhand', cursive; font-size: 30px;">
                        SV
                    </li>
                    <li>
                        <a  href="{% url 'landing'  %}" style="color:#212529">О нас </a>
                    <li>
                        <a href="{% url 'contacts'  %}" style="color:#212529">Контакты</a>
                    </li>

                </ul>
            </div>
            <div class="s12 m6 l3 col" style="margin-top:20px;">

            <ul class="list">
                <li style="font-size:18px;">
                    Режим работы
                </li>
                <li>
                    Работаем Пн-Пт: 7:30 до 16:00.
                </li>
                <li>
                    Сб: 7:30 до 14:00.
                </li>
                <li>
                    Вс: Выходной
                </li>
                <li>

                </li>
            </ul>
            </div>
            <div class="s12 m6 l3 col right-align" style="margin-top:20px; padding-left:55px">
                <h6 style="font-size:18px;">Контакты</h6>
                <p style="margin: 0 !important"><i class="fa fa-phone" aria-hidden="true"></i>Тел МТС +38(050)7032779</p>
                <p style="margin: 0 !important"><i class="fa fa-phone" aria-hidden="true"></i>Тел Лугаком +38(072)1180310</p>
                <a class="nav-link" href="" style="color:#212529"><i class="fa fa-vk" aria-hidden="true"></i></a>
            </div>
        </div>
        <p style="text-align:center; margin-bottom:5px;">&copy; 2018 <a href="//nikbegood.tk"  target="_blank" style="color:#212529">nikbegood.tk</a><p>
    </div>
</footer>